<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="drop_down_menu.css">
  </head>

.dropbtn {
    background-color: #5AA8CD;
    color: #EA3A21;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #5AA8CD;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5AA8CD;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font: HelveticaNeue-Light;
    color:white
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
      display: block;
    font: HelveticaNeue-Light

}

.dropdown-content a:hover {background-color: #Ea3a21}

.show {display:block;}

}
