<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/poses.css"
</head>
* {
  font-family: "HelveticaNeue-Light";
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;

  .column {
    flex: 25%;
    max-width:25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .h1 {
  font-family: Helvetica
  color:#5aa8cd

}
