._3Jihw {
    position: relative;
    padding: 56px 0 56px;
    background-color: #5aa8cd;
    z-index: 2;
}

section {
    display: block;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.DDXMD {
    margin: 0 auto;
    padding: 0 50px;
    width: 100%;
    max-width: 1150px;
    box-sizing: border-box;
}

._2SO38 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 45px;
    height: 190px;
}

.FTp19 {
    margin: 0 0 14px;
    height: 86px;
    width: 1150px;
    font-size: 15px;
    font-weight: 300;
    line-height: normal;
    color: #fff;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
}

.nav-item {
  display: inline-block;
  margin-right: 7px;
}

.nav-link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    color: #0074c2;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}



.flex-row {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
  }

  .d-md-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

div {
    display: block;
}

.lEG93 {
    display: inline-block;
    margin-right: 7px;
}

.LeyaZ {
    margin: 0;
    padding: 0;
    list-style: none;
}

.STI2j {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}


html {
    color: #222;
    font-weight: 100;
    font-size: 1em;
    font-family: Segoe UI,HelveticaNeue-Light,sans-serif;
    line-height: 1.375;
    -webkit-font-feature-settings: "liga" 0,"kern" 1;
    font-feature-settings: "liga" 0,"kern" 1;
    font-family: sans-serif;

    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body, html {
    font-family: Rubik,sans-serif;
    min-width: 1150px;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}


* {
    transform-origin: 0px 0px 0px;
}

.STI2j {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

* {
    transform-origin: 0px 0px 0px;
}

.STI2j path {
    transition: fill .2s ease-out,stroke .2s ease-out;
}

._1MyPs {
    fill: #b4d0e8;
}

._3Q5Oq {
    stroke: #b4d0e8;
}

._1euU4 {
    fill: #b4d0e8;
}

._3aOkN {
    stroke: #b4d0e8;
}

.bxEFB {
    fill: #b4d0e8;
}

._2m_d6 {
    stroke: #b4d0e8;
}


a.STI2j:link {
    color: #fff;
    text-decoration: none;
}
a.STI2j:hover {
    color: #fff;
}

a._1YD42:link{
    color: #fff;
    text-decoration: none;
}
a._1YD42:hover {
    color: #fff;


h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
